navbar {
  font-family: Helvetica, sans-serif;
  text-align: right;
  float: right;
  top: 0;
  width: 100%;
  position: absolute;
}

li {
  display: inline-block;
  margin-right: 20px;
}

form {
  display: inline;
}

input {
  width: 35%;
  height: 5%;
  margin-left: 33%;
  position: absolute;
  font-size: 24px;
}

img {
    display: block;
    padding: 0;
    margin: auto;
    margin-top: 25%;
    width: 30%;
}

#buttons {
  margin-top: 4%;
  text-align: center;
}
