navbar {
  text-align: right;
  float: right;
  top: 0;
  width: 100%;
  position: absolute;
}

li {
		display: inline-block;
		margin-right: 20px;
	}

form {
  display: inline;
}

input {
  width: 35%;
  height: 5%;
  margin-left: 33%;
  position: absolute;
}

img {
    display: block;
    padding: 0;
    margin: auto;
    margin-top: 25%;
    width: 30%;
}
